<div></div>
<body *ngIf=disp1 background="./assets/Image/image2.jpg">
  <h2>
    Admin
  </h2>
  <br>
  <ul>
    <li>
     <a routerLink="signup" (click)="toggle1()">Add user</a>
    </li>
    <li>
        <a routerLink="update" (click)="display()">Update user</a>
      </li><li>
          <a routerLink="delete" (click)="display()">Delete user</a>
        </li>
      <li>
        <a routerLink="display" (click)="display()">Display users</a>
      </li>
    <li>
      <a routerLink ="" (click)="toggle()" >Log out</a>
    </li>
  </ul>
  </body>
  <p *ngIf=disp3>
      <router-outlet> </router-outlet>
    </p>
  <div *ngIf=(disp2)>
    <login></login>
  </div>
  